.App {
  text-align: center;
}

#title {
  color: white;
  font-family: "Gill Sans";
  font-size: 100px;
  font-weight: 300;
  padding: 0px;
  margin: 0;
  
}

#subtitle {
  color: white;
  font-family: "Gill Sans", sans-serif;
  font-size: 25px;
  font-weight: 100;
  padding: 0;
  margin: 0;

}
